body {
  background-color: #454851
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

#road {
  height: 430px;
  overflow: hidden;
  transition: height .4s ease-out;
}

#road.active {
  height: 600px;
}